/* Setzt die Hintergrundfarbe */
body {
    background-color: #96ffc1;
}

.Avatar {
    /* Reduziert das PNG auf 256px x 256px */
    width: 256px;
    height: 256px;
    /* Alles andere von dem PNG wird ausgeblendet */
    overflow: hidden;
}

.Lars {
    /* 1s beschreibt die Keyframezeit, steps() beschreibt in wievielen Sprüngen und infinite läst die Animation wiederholen*/
    animation: moveAvatar 1s steps(8) infinite;
}

/* Dieses Keyframe bewegt wiederholend estwas nach links */
@keyframes moveAvatar {
    from {
        transform: translate3d(0px,0,0);
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}